{:kotoba.app/id "cloud.itonami.isic-8890", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib3tfh3kngpgxqm2kimr67jls7gflzcrgq4dfdvafupfocem5s4xe", :kotoba.app/embed-url "ipfs://bafkreib3tfh3kngpgxqm2kimr67jls7gflzcrgq4dfdvafupfocem5s4xe", :published {:archive "https://kotobase.net/ipfs/bafkreib3tfh3kngpgxqm2kimr67jls7gflzcrgq4dfdvafupfocem5s4xe", :size 75097, :put-status 201, :get-status 200, :at "2026-08-15T14:00:20.496Z"}}
